<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306471897843-m6tajii7lshhu22npakjfgk7usd91bij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306471897843-m6tajii7lshhu22npakjfgk7usd91bij</string>
	<key>API_KEY</key>
	<string>AIzaSyAsZJVABEfDUqPZ9LhChEdE4bYx9AUovZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>306471897843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlineAttendenceApp</string>
	<key>PROJECT_ID</key>
	<string>attendance-online-b830b</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-online-b830b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306471897843:ios:61f6dcc61942476e1f0586</string>
</dict>
</plist>